$yellow: #FFCC4E;
$orange: #F15A47;
$brown: #1B090A;
$bg-gradient: linear-gradient(to bottom, #F15A47, #FFCC4E);

$font-primary: 'Muli', sans-serif;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    color: $brown;
    width: 100%;
    overflow-x: hidden;
}

#header {
    padding: 5px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F15A47), to(#FFCC4E));
    background: $bg-gradient;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header-email {
        width: 33.33%;

        p {
            margin: 0;
            text-align: left;
            color: #fff;
        }
    }

    .header-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 33.33%;

        a.socials-link {
            color: #fff;
            margin-right: 10px;
            padding-left: 10px;
            font-size: 25px;
            transition: all 0.2s;
            border-left: 1px solid #fff;

            &:first-child {
                border: 0;
            }
        }
    }

    .header-phone {
        width: 33.33%;

        p {
            margin: 0;
            text-align: right;
            color: #fff;
        }
    }
}

.navbar {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    .navbar-brand {

        img {
            width: 30%;
        }
    }

    .navbar-collapse {

        .navbar-nav {

            li.nav-item {
                margin-left: 20px;

                &.active {

                    .nav-link {
                        font-weight: 800;
                        color: $orange;
                    }
                }
                
                &:hover {

                    .nav-link {
                        color: $orange;
                    }
                }

                &.dropdown {

                    .dropdown-menu {

                        .dropdown-item {

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }

                .nav-link {
                    color: $brown;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.wrapper-carousel {

    .carousel-title {
        text-align: center;
        font-size: 4em;

        strong {
            color: #f15a47;
        }
    }
}

.properties {

    .properties-card {

        .properties-img {
            background: $brown;
            position: relative;

            .more {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                opacity: 0;
                color: #fff;
            }

            &:hover {

                .more {
                    opacity: 1;
                }

                img {
                    opacity: 0.3;
                }
            }

            img {
                width: 100%;
                transition: all 0.3s;
            }
        }

        .properties-title {
            font-size: 20px;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .properties-details {
            display: flex;
            justify-content: space-between;

            .area {
                
                p {
                    margin: 0;
                    
                    strong {
                        color: $orange;
                    }
                }
            }

            .room {
                display: flex;
                justify-content: center;
                align-items: center;
                
                p {
                    margin: 0;

                    .room-icon {
                        color: $orange;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.services {
    margin-top: 20px;

    .services-card {
        text-align: center;
        padding: 20px;

        .card-icon {
            font-size: 45px;
            color: #a2a2a2;
            background-color: transparent;
            width: 70px;
            height: 70px;
            margin: auto;
            border-radius: 50%;
            margin-bottom: 15px;
            transition: all 0.4s;
        }

        h3.card-title {
            font-weight: 800;
        }

        &:hover {

            .card-icon {
                background: $bg-gradient;
                color: #fff;
            }
        }
    }
}

.footer {
    margin-top: 30px;
    background-color: $brown;
    padding: 20px;
    text-align: center;

    .footer-title {
        color: #fff;
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: left;
    }

    .footer-infos {
        margin-bottom: 10px;
        text-align: left;

        .footer-subtitle {
            color: $orange;
            font-size: 16px;
            font-weight: 800;
    
            .subtitle-icon {
                margin-right: 10px;
            }
        }
    
        .footer-text {
            color: #fff;
            font-size: 14px;
        }
    }

    .footer-infos {
        
        .footer-menu {

            .footer-menu-item {
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 1px dashed #fff;

                a {
                    color: #fff;
                    transition: 0.2s;

                    &:hover {
                        text-decoration: none;
                        color: $orange;
                    }
                }
            }
        }
    }

    form {

        text-align: left;

        .form-group {

            label {
                color: #fff;
                text-align: left;
                font-size: 14px;
            }
        }
    }
}