$yellow: #FFCC4E;
$orange: #F15A47;
$brown: #1B090A;
$bg-gradient: linear-gradient(to bottom, #F15A47, #FFCC4E);

$font-primary: 'Muli', sans-serif;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    color: $brown;
    width: 100%;
    overflow-x: hidden;
}

#header {
    padding: 5px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F15A47), to(#FFCC4E));
    background: $bg-gradient;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header-email {
        width: 33.33%;

        p {
            margin: 0;
            text-align: left;
            color: #fff;
        }
    }

    .header-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 33.33%;

        a.socials-link {
            color: #fff;
            margin-right: 10px;
            padding-left: 10px;
            font-size: 25px;
            transition: all 0.2s;
            border-left: 1px solid #fff;

            &:first-child {
                border: 0;
            }
        }
    }

    .header-phone {
        width: 33.33%;

        p {
            margin: 0;
            text-align: right;
            color: #fff;
        }
    }
}

.navbar {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    .navbar-brand {

        img {
            width: 30%;
        }
    }

    .navbar-collapse {

        .navbar-nav {

            li.nav-item {
                margin-left: 20px;

                &.active {

                    .nav-link {
                        font-weight: 800;
                        color: $orange;
                    }
                }
                
                &:hover {

                    .nav-link {
                        color: $orange;
                    }
                }

                &.dropdown {

                    .dropdown-menu {

                        .dropdown-item {

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }

                .nav-link {
                    color: $brown;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.wrapper-carousel {

    .carousel-title {
        text-align: center;
        font-size: 4em;

        strong {
            color: #f15a47;
        }
    }
}

.services {
    margin-top: 20px;

    .services-card {
        text-align: center;
        padding: 20px;

        .card-icon {
            font-size: 45px;
            color: #a2a2a2;
            background-color: transparent;
            width: 70px;
            height: 70px;
            margin: auto;
            border-radius: 50%;
            margin-bottom: 15px;
            transition: all 0.4s;
        }

        h3.card-title {
            font-weight: 800;
        }

        &:hover {

            .card-icon {
                background: $bg-gradient;
                color: #fff;
            }
        }
    }
}